.vscode/*

# react-app
/react-app/.pnp
/react-app/.pnp.js
/react-app/coverage
/react-app/build
/react-app/.DS_Store
/react-app/.env.local
/react-app/.env.development.local
/react-app/.env.test.local
/react-app/.env.production.local
/react-app/npm-debug.log*
/react-app/yarn-debug.log*
/react-app/yarn-error.log*
/react-app/node_modules/.cache
