.vscode/*

/src/front-end-application/.pnp
/src/front-end-application/.pnp.js
/src/front-end-application/coverage
/src/front-end-application/build
/src/front-end-application/.DS_Store
/src/front-end-application/.env.local
/src/front-end-application/.env.development.local
/src/front-end-application/.env.test.local
/src/front-end-application/.env.production.local
/src/front-end-application/npm-debug.log*
/src/front-end-application/yarn-debug.log*
/src/front-end-application/yarn-error.log*
/src/front-end-application/node_modules
/src/front-end-application/package-lock.json

/src/rest-api-server/packages/gen/*

src/rest-api-server/sandbox/*

py-sandbox.tar
