.vscode/*

/front-end-application/.pnp
/front-end-application/.pnp.js
/front-end-application/coverage
/front-end-application/build
/front-end-application/.DS_Store
/front-end-application/.env.local
/front-end-application/.env.development.local
/front-end-application/.env.test.local
/front-end-application/.env.production.local
/front-end-application/npm-debug.log*
/front-end-application/yarn-debug.log*
/front-end-application/yarn-error.log*
/front-end-application/node_modules/.cache

/packages/gen/*

/sandbox/*

py-sandbox.tar
